pipeline/pl_landing_bronze_data_load.json
{
	"name": "pl_landing_bronze_data_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_bronze_control_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    'SELECT * FROM [',\n    pipeline().parameters.pPlSchemaname,\n    '].[', \n    pipeline().parameters.pPlTabelName,\n    '] WHERE Enabled = ''True'''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_source_table_param",
						"type": "DatasetReference",
						"parameters": {
							"pDsSourceServerName": {
								"value": "@pipeline().parameters.pPlServerName",
								"type": "Expression"
							},
							"pDsSourceDatabasename": {
								"value": "@pipeline().parameters.pPlDatabasename",
								"type": "Expression"
							},
							"pDsSourceSchemaName": {
								"value": "@pipeline().parameters.pPlSchemaname",
								"type": "Expression"
							},
							"pDsSourceTableName": {
								"value": "@pipeline().parameters.pPlTabelName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Landing_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_bronze_control_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_bronze_control_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook_landing_bronze",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/shindebhagyashree22@gmail.com/Azure_Databricks_clintrail/landing_bronze_load/03_nb_landing_bronze_load",
								"baseParameters": {
									"domain": {
										"value": "@item().Domain",
										"type": "Expression"
									},
									"storageAccName": {
										"value": "@item().StorageAccName",
										"type": "Expression"
									},
									"srcContainerName": {
										"value": "@item().SrcContainerName",
										"type": "Expression"
									},
									"tgtCatalog": {
										"value": "@item().TgtCatalog",
										"type": "Expression"
									},
									"tgtSchema": {
										"value": "@item().TgtSchema",
										"type": "Expression"
									},
									"tgtTableName": {
										"value": "@item().TgtTableName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pPlServerName": {
				"type": "string",
				"defaultValue": "localhost\\SQLEXPRESS"
			},
			"pPlDatabasename": {
				"type": "string",
				"defaultValue": "dev_clintrail_edc_src"
			},
			"pPlSchemaname": {
				"type": "string",
				"defaultValue": "edcsrcmetadata"
			},
			"pPlTabelName": {
				"type": "string",
				"defaultValue": "srcEdcLandToBronzeControl"
			}
		},
		"folder": {
			"name": "dev_clintrail/landing_bronze_load"
		},
		"annotations": []
	}
}