pipeline/pl_multiple_copy_activity_if_metadata_fail.json
{
	"name": "pl_multiple_copy_activity_if_metadata_fail",
	"properties": {
		"activities": [
			{
				"name": "Getmetadata_sales_info",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sales_adls",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If_condition_file_exists_size",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Getmetadata_sales_info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\nactivity('Getmetadata_sales_info').output.exists,\ngreater(activity('Getmetadata_sales_info').output.size,0) \n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailActivity",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File is not exists or its empty",
								"errorCode": "10001"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "copy_srcfiles_sqlserver_db_sales",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sales_adls",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqlserverdb_sales_test",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "daily_practice/activities"
		},
		"annotations": [],
		"lastPublishTime": "2026-07-13T10:20:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}