pipeline/pl_pipeline_parameter_example_dynamic_file.json
{
	"name": "pl_pipeline_parameter_example_dynamic_file",
	"properties": {
		"activities": [
			{
				"name": "Lookup_source_target_details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lkp_source_target_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_source_target_details",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_source_target_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_source_target_details').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_adls_bin_sourcefiles",
									"type": "DatasetReference",
									"parameters": {
										"pDsSourceContainerName": {
											"value": "@item().SourceContainerName",
											"type": "Expression"
										},
										"pDsSourceFolderPath": {
											"value": "@item().SourceFolderPath",
											"type": "Expression"
										},
										"pDsSourceFileName": {
											"value": "@item().SourceFilename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ads_bin_targetfiles",
									"type": "DatasetReference",
									"parameters": {
										"pDsTargetContainerName": {
											"value": "@item().TargetContainerName",
											"type": "Expression"
										},
										"pDsTargetFolderPath": {
											"value": "@item().TargetFolderPath",
											"type": "Expression"
										},
										"pDsTargetFileName": {
											"value": "@item().TargetFilename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "daily_practice/paramterisation"
		},
		"annotations": [],
		"lastPublishTime": "2026-07-15T15:51:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}