adf-clintrail-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-clintrail-dev"
		},
		"SqlServerdb_onpremises_Bhagya_db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServerdb_onpremises_Bhagya_db'"
		},
		"amazons3_sqlserver_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'amazons3_sqlserver'"
		},
		"ls_azuresql_clintrail_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_azuresql_clintrail'"
		},
		"ls_sqlserver_multiple_db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqlserver_multiple_db'"
		},
		"ls_sqlserverdb_healthconnect_raw_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqlserverdb_healthconnect_raw'"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-adlsgen-clintrail-dev.vault.azure.net/"
		},
		"AzureKeyVault_SQLServer_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv1-clintrail-dev.vault.azure.net/"
		},
		"AzureKeyVault_datbricks_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-databricks-clintrail.vault.azure.net/"
		},
		"SqlServerdb_onpremises_Bhagya_db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"SqlServerdb_onpremises_Bhagya_db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Bhagya_db"
		},
		"SqlServerdb_onpremises_Bhagya_db_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DESKTOP-LK2VEJQ\\Dell"
		},
		"amazons3_sqlserver_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAZGGSSLFKW6U3ZEV7"
		},
		"ls_adls_gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stclinicaltraildev.dfs.core.windows.net/"
		},
		"ls_azure_databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0720-155521-ynlqv44b"
		},
		"ls_azuresql_clintrail_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqldb-clintrail-dev.database.windows.net"
		},
		"ls_azuresql_clintrail_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-clintrial-dev"
		},
		"ls_azuresql_clintrail_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "CloudSA8224d4d2"
		},
		"ls_sqlserver_multiple_db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"ls_sqlserver_multiple_db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().pLsDatabase}"
		},
		"ls_sqlserver_multiple_db_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adf_login"
		},
		"ls_sqlserver_param_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "@{linkedService().pLsServerName}"
		},
		"ls_sqlserver_param_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().pLsDatabaseName}"
		},
		"ls_sqlserver_param_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adf_login"
		},
		"ls_sqlserverdb_healthconnect_raw_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"ls_sqlserverdb_healthconnect_raw_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dev_HealthConnect_raw"
		},
		"ls_sqlserverdb_healthconnect_raw_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DESKTOP-LK2VEJQ\\Dell"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_SQLserverSrc_ADLSGen2Landing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupSQLServerControlTable",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat(\n    'SELECT * FROM [',\n    pipeline().parameters.pSchemaName,\n    '].[', \n    pipeline().parameters.pTableName,\n    '] WHERE Enabled = ''True'''\n)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SqlServerTablesParam",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": {
										"value": "@pipeline().parameters.pServerName",
										"type": "Expression"
									},
									"pDsDatabaseName": {
										"value": "@pipeline().parameters.pDatabasename",
										"type": "Expression"
									},
									"pDsSchemaName": {
										"value": "@pipeline().parameters.pSchemaName",
										"type": "Expression"
									},
									"pDsTableName": {
										"value": "@pipeline().parameters.pTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_sql_adls",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupSQLServerControlTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupSQLServerControlTable').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copydata_sqlserver_landing",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().SrcSchemaName}.@{item().SrcTableName}"
										},
										{
											"name": "Destination",
											"value": "@{item().LandingContainerName}/@{concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))}/@{concat(item().SrcTableName, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@if(equals(item().IngestionType,'Incremental'),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName,\n           ' WHERE ',coalesce(item().WatermarkColName,''),\n           ' > ''',coalesce(string(item().WatermarkColValue),''),''''),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName))",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_SqlServerTablesParam",
											"type": "DatasetReference",
											"parameters": {
												"pDsServerName": {
													"value": "@item().SrcServerName",
													"type": "Expression"
												},
												"pDsDatabaseName": {
													"value": "@item().SrcDatabaseName",
													"type": "Expression"
												},
												"pDsSchemaName": {
													"value": "@item().SrcSchemaName",
													"type": "Expression"
												},
												"pDsTableName": {
													"value": "@item().SrcTableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_clinical_param",
											"type": "DatasetReference",
											"parameters": {
												"pDsContainerName": {
													"value": "@item().LandingContainerName",
													"type": "Expression"
												},
												"pDsFolderName": {
													"value": "@concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))",
													"type": "Expression"
												},
												"pDsFileName": {
													"value": "@concat(item().SrcTableName,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "LookupGetMaxMetaData",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Copydata_sqlserver_landing",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT MAX([', coalesce(item().WatermarkColName, 'MODIFIED_TS'), ']) AS NewWatermark FROM ', item().SrcSchemaName, '.', item().SrcTableName)\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_SqlServerTablesParam",
											"type": "DatasetReference",
											"parameters": {
												"pDsServerName": {
													"value": "@item().SrcServerName",
													"type": "Expression"
												},
												"pDsDatabaseName": {
													"value": "@item().SrcDatabaseName",
													"type": "Expression"
												},
												"pDsSchemaName": {
													"value": "@item().SrcSchemaName",
													"type": "Expression"
												},
												"pDsTableName": {
													"value": "@item().SrcTableName",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "Stored procedureUpdtMxModifiedDt",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "LookupGetMaxMetaData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[edcsrcmetadata].[usp_UpdateMxWatermark]",
										"storedProcedureParameters": {
											"MetadataId": {
												"value": {
													"value": "@item().MetadataId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"NewWatermarkValue": {
												"value": {
													"value": "@activity('LookupGetMaxMetaData').output.firstRow.NewWatermark",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sqlserver_param",
										"type": "LinkedServiceReference",
										"parameters": {
											"pLsServerName": {
												"value": "@item().SrcServerName",
												"type": "Expression"
											},
											"pLsDatabaseName": {
												"value": "@item().SrcDatabaseName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pDatabasename": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pSchemaName": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pTableName": {
						"type": "string",
						"defaultValue": "srcEdcClintrailToLandControl"
					}
				},
				"folder": {
					"name": "dev_clintrail/source_landing_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SqlServerTablesParam')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_clinical_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adls_dm_csv_srcTo_raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_adls_dm_srcFiles_raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "sourcefiles/dm",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_srcFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/file_path_type_srcfile_raw_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_srcFiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adls_sales_listof_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_adls_sales_listof_files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"fileListPath": "cr-clintrail/listofflies/ListOfFiles.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_src_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/file_path_type_srcfile_raw_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_src_raw')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adls_sales_wildcard file_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_adls_sales_srcfiles_raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "sourcefiles/dm",
									"wildcardFileName": "*sales*.csv",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_adls_sales_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_raw_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/file_path_type_srcfile_raw_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_sales_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_raw_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adls_sqlserver_daily_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_adls_sqlserver_daily_files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": "$$FILEPATH"
									},
									{
										"name": "FileName",
										"value": "$$FILENAME"
									},
									{
										"name": "CurrentDateTime",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									},
									{
										"name": "Country",
										"value": "india"
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "sourcefiles/sales",
									"wildcardFileName": "*sales*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE [dbo].[sales];",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"sale_id"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sale_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "quantity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "sale_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FilePath",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String"
										},
										"sink": {
											"name": "FileName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentDateTime",
											"type": "String"
										},
										"sink": {
											"name": "CurrentDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_sourcefiles_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sales_sqlserverdb",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/Incremental_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-10T07:12:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_sourcefiles_sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_sales_sqlserverdb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_awss3_sqlserver_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_awss3_sqlserver_load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_awss3_sqlserver_load",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_awss3_sqlserver",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/sqlserverdb_azuresqldb_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T13:58:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_awss3_sqlserver_load')]",
				"[concat(variables('factoryId'), '/datasets/ds_awss3_sqlserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_silver_data_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_bronze_silver_control_tab",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat(\n    'SELECT * FROM [',\n    pipeline().parameters.pPlSchemaName,\n    '].[', \n    pipeline().parameters.pPlTableName,\n    '] WHERE Enabled = ''True'''\n)",
									"type": "Expression"
								},
								"queryTimeout": "00:03:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source_table_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsSourceServerName": {
										"value": "@pipeline().parameters.pPlServerName",
										"type": "Expression"
									},
									"pDsSourceDatabasename": {
										"value": "@pipeline().parameters.pPlDatabaseName",
										"type": "Expression"
									},
									"pDsSourceSchemaName": {
										"value": "@pipeline().parameters.pPlSchemaName",
										"type": "Expression"
									},
									"pDsSourceTableName": {
										"value": "@pipeline().parameters.pPlTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Domain_table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_bronze_silver_control_tab",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_bronze_silver_control_tab').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Notebook_Domain",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/shindebhagyashree22@gmail.com/Azure_Databricks_clintrail/bronze_silver_load/nb_bronze_silver_load",
										"baseParameters": {
											"domain": {
												"value": "@item().Domain",
												"type": "Expression"
											},
											"srcCatalog": {
												"value": "@item().SrcCatalog",
												"type": "Expression"
											},
											"srcSchema": {
												"value": "@item().SrcSchema",
												"type": "Expression"
											},
											"srcTableName": {
												"value": "@item().SrcTableName",
												"type": "Expression"
											},
											"tgtCatalog": {
												"value": "@item().TgtCatalog",
												"type": "Expression"
											},
											"tgtSchema": {
												"value": "@item().TgtSchema",
												"type": "Expression"
											},
											"tgtTableName": {
												"value": "@item().TgtTableName",
												"type": "Expression"
											},
											"businessKey": {
												"value": "@item().BusinessKey",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pPlServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pPlDatabaseName": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pPlSchemaName": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pPlTableName": {
						"type": "string",
						"defaultValue": "srcEdcBronzeToSilverControl"
					}
				},
				"folder": {
					"name": "dev_clintrail/bronze_silver_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_table_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_ind_usa_FilterActivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getmetadatsourceFilesDetails",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sourcefiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach_sourceFiles_list",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_ind_usa_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_ind_usa_files').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(item().name,'ind')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy data_usa",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sourcefile_sales_ind_usa",
														"type": "DatasetReference",
														"parameters": {
															"pFileName": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_targetfiles_usa",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sourcefile_sales_ind_usa",
														"type": "DatasetReference",
														"parameters": {
															"pFileName": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_targetfiles_ind_usa",
														"type": "DatasetReference",
														"parameters": {
															"pTargetFiles": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFileName",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter_ind_usa_files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "getmetadatsourceFilesDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getmetadatsourceFilesDetails').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@or(\n\n    contains(\n        item().name,'ind'\n    ),\n    contains(\n        item().name,'usa'\n    )\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vFileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "daily_practice/Ind_Usa_filterFiles_approaches"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T06:31:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sourcefiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_sourcefile_sales_ind_usa')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetfiles_usa')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetfiles_ind_usa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_ind_usa_files_diff_location')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getmetadatsourceFilesDetails",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sourcefiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach_sourceFiles_list",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "getmetadatsourceFilesDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getmetadatsourceFilesDetails').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(item().name,'ind')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy data_usa",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sourcefile_sales_ind_usa",
														"type": "DatasetReference",
														"parameters": {
															"pFileName": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_targetfiles_usa",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sourcefile_sales_ind_usa",
														"type": "DatasetReference",
														"parameters": {
															"pFileName": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_targetfiles_ind_usa",
														"type": "DatasetReference",
														"parameters": {
															"pTargetFiles": {
																"value": "@variables('vFileName')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFileName",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vFileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "daily_practice/Ind_Usa_filterFiles_approaches"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T06:31:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sourcefiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_sourcefile_sales_ind_usa')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetfiles_usa')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetfiles_ind_usa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dm_srcTo_raw_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_adls_dm_srcFiles_raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_srcFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/file_path_type_srcfile_raw_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_srcFiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_emp_tableto_file_azuresql_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_emptable_azuresql_adls",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_azuresql_clintrail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_emp_adls_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/azuresql_adls_raw_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_clintrail')]",
				"[concat(variables('factoryId'), '/datasets/ds_emp_adls_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_empqueryusing_azuresql_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_emp_azuresql_adls",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [RAW].[emp]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_azuresql_clintrail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_emp_adls_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/azuresql_adls_raw_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_clintrail')]",
				"[concat(variables('factoryId'), '/datasets/ds_emp_adls_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_file_totable_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_adls_azuresqldb_load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_file_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresql_table_load",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/azuresql_adls_raw_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_file_table')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_table_load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_forloop_sqlserver_adls_multiple_tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@createArray('invoice','sales','sales_test')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "copy_tables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sqlserver_raw_tables",
											"type": "DatasetReference",
											"parameters": {
												"pTableName": {
													"value": "@item()",
													"type": "Expression"
												},
												"pSchemaName": "dbo"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_targetfiles",
											"type": "DatasetReference",
											"parameters": {
												"pfilename": {
													"value": "@concat(item(),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-11T10:40:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_raw_tables')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_targetfiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_landing_bronze_data_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_bronze_control_table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_source_table_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsSourceServerName": {
										"value": "@pipeline().parameters.pPlServerName",
										"type": "Expression"
									},
									"pDsSourceDatabasename": {
										"value": "@pipeline().parameters.pPlDatabasename",
										"type": "Expression"
									},
									"pDsSourceSchemaName": {
										"value": "@pipeline().parameters.pPlSchemaname",
										"type": "Expression"
									},
									"pDsSourceTableName": {
										"value": "@pipeline().parameters.pPlTabelName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Landing_File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_bronze_control_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_bronze_control_table').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Notebook_landing_bronze",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/shindebhagyashree22@gmail.com/Azure_Databricks_clintrail/landing_bronze_load/03_nb_landing_bronze_load",
										"baseParameters": {
											"domain": {
												"value": "@item().Domain",
												"type": "Expression"
											},
											"storageAccName": {
												"value": "@item().StorageAccName",
												"type": "Expression"
											},
											"srcContainerName": {
												"value": "@item().SrcContainerName",
												"type": "Expression"
											},
											"tgtCatalog": {
												"value": "@item().TgtCatalog",
												"type": "Expression"
											},
											"tgtSchema": {
												"value": "@item().TgtSchema",
												"type": "Expression"
											},
											"tgtTableName": {
												"value": "@item().TgtTableName",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pPlServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pPlDatabasename": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pPlSchemaname": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pPlTabelName": {
						"type": "string",
						"defaultValue": "srcEdcLandToBronzeControl"
					}
				},
				"folder": {
					"name": "dev_clintrail/landing_bronze_load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_table_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_lookup_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_sqlserver_metadata_tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "  select TABLE_NAME,TABLE_SCHEMA\n  from INFORMATION_SCHEMA.TABLES\n  WHERE  TABLE_NAME like '%raw%'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqlserver_metadata_tables",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_sqlserver_metadata_tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_sqlserver_metadata_tables').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "copy_tables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sqlserver_raw_tables",
											"type": "DatasetReference",
											"parameters": {
												"pTableName": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"pSchemaName": "dbo"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_targetfiles",
											"type": "DatasetReference",
											"parameters": {
												"pfilename": {
													"value": "@concat(item().TABLE_SCHEMA,'_',item().TABLE_NAME,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-11T10:40:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_metadata_tables')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_raw_tables')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_targetfiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_metadat_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getmetadata_activity",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sales_adls",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount",
								"exists",
								"itemName",
								"itemType",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T10:20:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_multiple_copy_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_srcfiles_sqlserver_db_sales",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sales_adls",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqlserverdb_sales_test",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_sqlserverdb_raw_refined",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_srcfiles_sqlserver_db_sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sqlserverdb_sales_test",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqlserver_db_server",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete_sourcefile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_sqlserverdb_raw_refined",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sales_adls",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ls_adls_gen2",
									"type": "LinkedServiceReference"
								},
								"path": "cr-clintrail/delete_log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/sqlserverdb_azuresqldb_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T10:20:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_adls')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqlserverdb_sales_test')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_db_server')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_multiple_copy_activity_if_metadata_fail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getmetadata_sales_info",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sales_adls",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If_condition_file_exists_size",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Getmetadata_sales_info",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(\nactivity('Getmetadata_sales_info').output.exists,\ngreater(activity('Getmetadata_sales_info').output.size,0) \n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "FailActivity",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "File is not exists or its empty",
										"errorCode": "10001"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "copy_srcfiles_sqlserver_db_sales",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sales_adls",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sqlserverdb_sales_test",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T10:20:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_adls')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqlserverdb_sales_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_pipeline_parameter_example_dynamic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_adls_bin_sourcefiles",
								"type": "DatasetReference",
								"parameters": {
									"pDsSourceContainerName": {
										"value": "@pipeline().parameters.pPlSourceContainerName",
										"type": "Expression"
									},
									"pDsSourceFolderPath": {
										"value": "@pipeline().parameters.pPlSourceFolderPath",
										"type": "Expression"
									},
									"pDsSourceFileName": {
										"value": "@pipeline().parameters.pPlSourceFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ads_bin_targetfiles",
								"type": "DatasetReference",
								"parameters": {
									"pDsTargetContainerName": {
										"value": "@pipeline().parameters.pPlTargetContainerName",
										"type": "Expression"
									},
									"pDsTargetFolderPath": {
										"value": "@pipeline().parameters.pPlTargetFolderPath",
										"type": "Expression"
									},
									"pDsTargetFileName": {
										"value": "@pipeline().parameters.pPlTargetFileName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pPlSourceContainerName": {
						"type": "string"
					},
					"pPlSourceFolderPath": {
						"type": "string"
					},
					"pPlSourceFileName": {
						"type": "string"
					},
					"pPlTargetContainerName": {
						"type": "string"
					},
					"pPlTargetFolderPath": {
						"type": "string"
					},
					"pPlTargetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "daily_practice/paramterisation"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-15T14:49:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_bin_sourcefiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_ads_bin_targetfiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_pipeline_parameter_example_dynamic_file')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_source_target_details",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_lkp_source_target_details",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_source_target_details",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_source_target_details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_source_target_details').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_adls_bin_sourcefiles",
											"type": "DatasetReference",
											"parameters": {
												"pDsSourceContainerName": {
													"value": "@item().SourceContainerName",
													"type": "Expression"
												},
												"pDsSourceFolderPath": {
													"value": "@item().SourceFolderPath",
													"type": "Expression"
												},
												"pDsSourceFileName": {
													"value": "@item().SourceFilename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_ads_bin_targetfiles",
											"type": "DatasetReference",
											"parameters": {
												"pDsTargetContainerName": {
													"value": "@item().TargetContainerName",
													"type": "Expression"
												},
												"pDsTargetFolderPath": {
													"value": "@item().TargetFolderPath",
													"type": "Expression"
												},
												"pDsTargetFileName": {
													"value": "@item().TargetFilename",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/paramterisation"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-15T15:51:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_lkp_source_target_details')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_bin_sourcefiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_ads_bin_targetfiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_pipeline_parameter_example_static')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy-source_sales_target",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_sourcefile_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_targetfiles_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/paramterisation"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-15T14:49:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_sourcefile_sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_targetfiles_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_pipline_variable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_sourcefiles_to_targetfiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sourceflies_variable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_targetflies_variable",
								"type": "DatasetReference",
								"parameters": {
									"pTargetFileName": {
										"value": "@concat('Cust_',variables('vCurrentTimeStamp'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "setvartargetfile",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy_sourcefiles_to_targetfiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "vCurrentTimeStamp",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vCurrentTimeStamp": {
						"type": "String"
					}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-12T07:09:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sourceflies_variable')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetflies_variable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_set_variable_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_source_files_pl_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsSourceFolder": {
										"value": "@pipeline().parameters.pSourceFolder",
										"type": "Expression"
									},
									"pDsSourceFile": {
										"value": "@pipeline().parameters.pSourceFile",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_targetfiles_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsTargetFolder": {
										"value": "@pipeline().parameters.pTargetFolder",
										"type": "Expression"
									},
									"pDsTargetFile": {
										"value": "@pipeline().parameters.pTargetFile",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pSourceFolder": {
						"type": "string"
					},
					"pSourceFile": {
						"type": "string"
					},
					"pTargetFolder": {
						"type": "string"
					},
					"pTargetFile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-12T06:08:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_source_files_pl_param')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetfiles_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sourcefiles_to_sqlservertables_multiplefiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata_sourcefiles_childitems",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls_sourcefiles_sales",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach_sourcefile_list",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetMetadata_sourcefiles_childitems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadata_sourcefiles_childitems').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "sourcefiles_to_sqlservertable",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sourcefiles_sales_param",
											"type": "DatasetReference",
											"parameters": {
												"pSourceFiles": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sqlserver_raw_tables",
											"type": "DatasetReference",
											"parameters": {
												"pTableName": {
													"value": "@replace(item().name,'.csv','')",
													"type": "Expression"
												},
												"pSchemaName": "dbo"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-11T10:40:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_sourcefiles_sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_sourcefiles_sales_param')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_raw_tables')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sqlserdbto_sqlserverdb_Onpremise')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_sqlserdbto_sqlserverdb_Onpremise",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sqlserverdb_azuresqldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresqldb_Bhagya_db",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/sqlserverdb_azuresqldb_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserverdb_azuresqldb')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresqldb_Bhagya_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sqlserver_source_sink_param')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copydata_source_target_param",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sqlserver_source_table_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsSourceServerName": {
										"value": "@pipeline().parameters.pPISourceServerName",
										"type": "Expression"
									},
									"pDsSourceDatabasename": {
										"value": "@pipeline().parameters.pPISourceDatabasename",
										"type": "Expression"
									},
									"pDsSourceSchemaName": {
										"value": "@pipeline().parameters.pPISourceSchemaName",
										"type": "Expression"
									},
									"pDsSourceTableName": {
										"value": "@pipeline().parameters.pPISourceTableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqlserver_target_table_param",
								"type": "DatasetReference",
								"parameters": {
									"pDsTargetServerName": {
										"value": "@pipeline().parameters.pPITargetServerName",
										"type": "Expression"
									},
									"pDsTargetDatabasename": {
										"value": "@pipeline().parameters.pPITargetDatabasename",
										"type": "Expression"
									},
									"pDsTargetSchemaName": {
										"value": "@pipeline().parameters.pPITargetSchemaName",
										"type": "Expression"
									},
									"pDsTargetTableName": {
										"value": "@pipeline().parameters.pPITargetTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pPISourceServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pPISourceDatabasename": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pPISourceSchemaName": {
						"type": "string",
						"defaultValue": "src"
					},
					"pPISourceTableName": {
						"type": "string",
						"defaultValue": "CM"
					},
					"pPITargetServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pPITargetDatabasename": {
						"type": "string",
						"defaultValue": "Bhagya_db"
					},
					"pPITargetSchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"pPITargetTableName": {
						"type": "string",
						"defaultValue": "CM"
					}
				},
				"folder": {
					"name": "daily_practice/paramterisation"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-16T01:44:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_source_table_param')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqlserver_target_table_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_switch_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getmetadatsourceFilesDetails",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sourcefiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach_sourceFiles_list",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "getmetadatsourceFilesDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getmetadatsourceFilesDetails').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFIleName",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable_countryName",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vCountryName",
										"value": {
											"value": "@if(\n    contains(variables('vFIleName'),'ind'),'IND',\n    if(\n        contains(variables('vFIleName'),'usa'),'USA','OTHER'\n    )\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "Set variable_countryName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@variables('vCountryName')",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "IND",
												"activities": [
													{
														"name": "Copy data_ind",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_sourcefile_sales_ind_usa",
																"type": "DatasetReference",
																"parameters": {
																	"pFileName": {
																		"value": "@variables('vFileName')",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_targetfiles_ind_usa",
																"type": "DatasetReference",
																"parameters": {
																	"pTargetFiles": {
																		"value": "@variables('vFileName')",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "USA",
												"activities": [
													{
														"name": "Copy data_usa",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_sourcefile_sales_ind_usa",
																"type": "DatasetReference",
																"parameters": {
																	"pFileName": {
																		"value": "@variables('vFileName')",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_targetfiles_usa",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Copy data_other",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sourceflies_sales_otherfiles",
														"type": "DatasetReference",
														"parameters": {
															"pSourceFiles": {
																"value": "@variables('vFIleName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_targetflies_sales_other_countries",
														"type": "DatasetReference",
														"parameters": {
															"pTargetFiles": {
																"value": "@variables('vFIleName')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vFIleName": {
						"type": "String"
					},
					"vCountryName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "daily_practice/Ind_Usa_filterFiles_approaches"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T07:54:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sourcefiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_sourceflies_sales_otherfiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetflies_sales_other_countries')]",
				"[concat(variables('factoryId'), '/datasets/ds_sourcefile_sales_ind_usa')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetfiles_ind_usa')]",
				"[concat(variables('factoryId'), '/datasets/ds_targetfiles_usa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_valiadation_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation_sourcefile",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls_source_files_validation",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.00:30:00",
							"sleep": 20,
							"minimumSize": 1
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Validation_sourcefile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_source_files_validation",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_tgt_sales_adls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T10:20:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_source_files_validation')]",
				"[concat(variables('factoryId'), '/datasets/ds_tgt_sales_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlserverdb_azuresqldb_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_sqlserverdb_patient_azuresqldb",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sqlserverdb_azuresqldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresqlsb",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "daily_practice/sqlserverdb_azuresqldb_load"
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T07:54:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlserverdb_azuresqldb')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresqlsb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SqlServerTablesParam')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserver_param",
					"type": "LinkedServiceReference",
					"parameters": {
						"pLsServerName": {
							"value": "@dataset().pDsServerName",
							"type": "Expression"
						},
						"pLsDatabaseName": {
							"value": "@dataset().pDsDatabaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pDsServerName": {
						"type": "string"
					},
					"pDsDatabaseName": {
						"type": "string"
					},
					"pDsSchemaName": {
						"type": "string"
					},
					"pDsTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pDsSchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pDsTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_bin_sourcefiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pDsSourceContainerName": {
						"type": "string"
					},
					"pDsSourceFolderPath": {
						"type": "string"
					},
					"pDsSourceFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pDsSourceFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pDsSourceFolderPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().pDsSourceContainerName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_clinical_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pDsContainerName": {
						"type": "string"
					},
					"pDsFolderName": {
						"type": "string"
					},
					"pDsFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pDsFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pDsFolderName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().pDsContainerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_file_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "jan_sales_Fy2026.csv",
						"folderPath": "sourcefiles/dm",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw/dm",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_raw_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw/dm",
						"fileSystem": "cr-clintrail"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_sales_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_source_files_pl_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pDsSourceFolder": {
						"type": "string"
					},
					"pDsSourceFile": {
						"type": "string",
						"defaultValue": "test"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pDsSourceFile",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pDsSourceFolder",
							"type": "Expression"
						},
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "emp_id",
						"type": "String"
					},
					{
						"name": "emp_name",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_source_files_validation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ind_sales_13072026.csv",
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_sourcefile_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ind_sales_14072026.csv",
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_sourcefiles_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_srcFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dm_20260703.csv",
						"folderPath": "sourceFiles/DM",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_src_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sourcefiles/dm",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_targetfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pfilename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pfilename",
							"type": "Expression"
						},
						"folderPath": "targetfiles",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_targetfiles_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "targetfiles/sales",
						"fileSystem": "cr-sink-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ads_bin_targetfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pDsTargetContainerName": {
						"type": "string"
					},
					"pDsTargetFolderPath": {
						"type": "string"
					},
					"pDsTargetFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pDsTargetFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pDsTargetFolderPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().pDsTargetContainerName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_awss3_sqlserver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserverdb_healthconnect_raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "invoice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserverdb_healthconnect_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_awss3_sqlserver_load')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "amazons3_sqlserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "saleslake-748005667258-us-east-2-631801796949-us-east-2-an",
						"folderPath": "saleslake/dev/source_files/invoice",
						"fileName": "invoice_aws_export (1).csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "invoice_id",
						"type": "String"
					},
					{
						"name": "invoice_number",
						"type": "String"
					},
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "invoice_date",
						"type": "String"
					},
					{
						"name": "due_date",
						"type": "String"
					},
					{
						"name": "subtotal_amount",
						"type": "String"
					},
					{
						"name": "discount_code",
						"type": "String"
					},
					{
						"name": "discount_amount",
						"type": "String"
					},
					{
						"name": "tax_amount",
						"type": "String"
					},
					{
						"name": "total_amount",
						"type": "String"
					},
					{
						"name": "payment_status",
						"type": "String"
					},
					{
						"name": "payment_method",
						"type": "String"
					},
					{
						"name": "payment_date",
						"type": "String"
					},
					{
						"name": "currency",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "store_id",
						"type": "String"
					},
					{
						"name": "channel",
						"type": "String"
					},
					{
						"name": "created_by",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/amazons3_sqlserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresql_clintrail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_clintrail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "RAW",
					"table": "emp"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_clintrail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresql_table_load')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_clintrail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "RAW",
					"table": "sales2026"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_clintrail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresqldb_Bhagya_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerdb_onpremises_Bhagya_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "raw_patient"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerdb_onpremises_Bhagya_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresqlsb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql_clintrail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "RAW",
					"table": "raw_patients"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql_clintrail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_emp_adls_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "emp2.csv",
						"folderPath": "azuresql_db_data",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lkp_source_target_details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "source_target_paramter_key_value.txt",
						"folderPath": "LookupFile",
						"fileSystem": "cr-clintrail"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"SourceContainerName": {
							"type": "string"
						},
						"SourceFolderPath": {
							"type": "string"
						},
						"SourceFilename": {
							"type": "string"
						},
						"TargetContainerName": {
							"type": "string"
						},
						"TargetFolderPath": {
							"type": "string"
						},
						"TargetFilename": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ind_sales_20260710.csv",
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_sqlserverdb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserverdb_healthconnect_raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserverdb_healthconnect_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sourcefile_sales_ind_usa')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": "sourcefiles/sales/",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sourcefiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sourcefiles_sales_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pSourceFiles": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pSourceFiles",
							"type": "Expression"
						},
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sourceflies_sales_otherfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pSourceFiles": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pSourceFiles",
							"type": "Expression"
						},
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sourceflies_variable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Sales_may.csv",
						"folderPath": "sourcefiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_db_server')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerdb_onpremises_Bhagya_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tgt_sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerdb_onpremises_Bhagya_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_metadata_tables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserverdb_healthconnect_raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserverdb_healthconnect_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_raw_tables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserverdb_healthconnect_raw",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pTableName": {
						"type": "string"
					},
					"pSchemaName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().pTablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserverdb_healthconnect_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_source_table_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserver_param",
					"type": "LinkedServiceReference",
					"parameters": {
						"pLsServerName": {
							"value": "@dataset().pDsSourceServerName",
							"type": "Expression"
						},
						"pLsDatabaseName": {
							"value": "@dataset().pDsSourceDatabasename",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pDsSourceServerName": {
						"type": "string"
					},
					"pDsSourceDatabasename": {
						"type": "string"
					},
					"pDsSourceSchemaName": {
						"type": "string"
					},
					"pDsSourceTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pDsSourceSchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pDsSourceTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserver_target_table_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserver_param",
					"type": "LinkedServiceReference",
					"parameters": {
						"pLsServerName": {
							"value": "@dataset().pDsTargetServerName",
							"type": "Expression"
						},
						"pLsDatabaseName": {
							"value": "@dataset().pDsTargetDatabasename",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pDsTargetServerName": {
						"type": "string"
					},
					"pDsTargetDatabasename": {
						"type": "string"
					},
					"pDsTargetSchemaName": {
						"type": "string"
					},
					"pDsTargetTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pDsTargetSchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pDsTargetTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_param')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserverdb_azuresqldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserverdb_healthconnect_raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "patient_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_name",
						"type": "varchar"
					},
					{
						"name": "last_name",
						"type": "varchar"
					},
					{
						"name": "gender",
						"type": "char"
					},
					{
						"name": "date_of_birth",
						"type": "date"
					},
					{
						"name": "state_code",
						"type": "char"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "phone",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "raw_patients"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserverdb_healthconnect_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlserverdb_sales_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserverdb_healthconnect_raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "sale_id",
						"type": "nvarchar"
					},
					{
						"name": "product",
						"type": "nvarchar"
					},
					{
						"name": "category",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "nvarchar"
					},
					{
						"name": "price",
						"type": "nvarchar"
					},
					{
						"name": "sale_date",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserverdb_healthconnect_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_targetfiles_ind_usa')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pTargetFiles": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pTargetFiles",
							"type": "Expression"
						},
						"folderPath": "targetfiles/sales/ind",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_targetfiles_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pDsTargetFolder": {
						"type": "string"
					},
					"pDsTargetFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pDsTargetFile",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pDsTargetFolder",
							"type": "Expression"
						},
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "emp_id",
						"type": "String"
					},
					{
						"name": "emp_name",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_targetfiles_usa')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "targetfiles/sales/usa",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_targetflies_sales_other_countries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pTargetFiles": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pTargetFiles",
							"type": "Expression"
						},
						"folderPath": "targetfiles/sales/other_country",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_targetflies_variable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pTargetFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pTargetFileName",
							"type": "Expression"
						},
						"folderPath": "targetfiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tgt_sales_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sales_20261403",
						"folderPath": "targetfiles/sales",
						"fileSystem": "cr-clintrail"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_SQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_SQLServer_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_datbricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_datbricks_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerdb_onpremises_Bhagya_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServerdb_onpremises_Bhagya_db_properties_typeProperties_server')]",
					"database": "[parameters('SqlServerdb_onpremises_Bhagya_db_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "Windows",
					"userName": "[parameters('SqlServerdb_onpremises_Bhagya_db_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServerdb_onpremises_Bhagya_db_password')]"
					}
				},
				"connectVia": {
					"referenceName": "shir-local-computer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-local-computer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/amazons3_sqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('amazons3_sqlserver_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('amazons3_sqlserver_secretAccessKey')]"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AdlsGen2"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405606945912646.6.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_datbricks",
							"type": "LinkedServiceReference"
						},
						"secretName": "databricks"
					},
					"existingClusterId": "[parameters('ls_azure_databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_datbricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresql_clintrail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azuresql_clintrail_properties_typeProperties_server')]",
					"database": "[parameters('ls_azuresql_clintrail_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azuresql_clintrail_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_azuresql_clintrail_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlserver_multiple_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pLsDatabase": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_sqlserver_multiple_db_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqlserver_multiple_db_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sqlserver_multiple_db_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqlserver_multiple_db_password')]"
					}
				},
				"connectVia": {
					"referenceName": "shir-local-computer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-local-computer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlserver_param')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pLsServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pLsDatabaseName": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_sqlserver_param_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqlserver_param_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sqlserver_param_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_SQLServer",
							"type": "LinkedServiceReference"
						},
						"secretName": "SqlServerPass"
					}
				},
				"connectVia": {
					"referenceName": "shir-local-computer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-local-computer')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlserverdb_healthconnect_raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_sqlserverdb_healthconnect_raw_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqlserverdb_healthconnect_raw_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "Windows",
					"userName": "[parameters('ls_sqlserverdb_healthconnect_raw_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqlserverdb_healthconnect_raw_password')]"
					}
				},
				"connectVia": {
					"referenceName": "shir-local-computer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-local-computer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-local-computer')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SQLserverSrc_ADLSGen2Landing_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupSQLServerControlTable",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat(\n    'SELECT * FROM [',\n    pipeline().parameters.pSchemaName,\n    '].[', \n    pipeline().parameters.pTableName,\n    '] WHERE Enabled = ''True'''\n)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SqlServerTablesParam",
								"type": "DatasetReference",
								"parameters": {
									"pDsServerName": {
										"value": "@pipeline().parameters.pServerName",
										"type": "Expression"
									},
									"pDsDatabaseName": {
										"value": "@pipeline().parameters.pDatabasename",
										"type": "Expression"
									},
									"pDsSchemaName": {
										"value": "@pipeline().parameters.pSchemaName",
										"type": "Expression"
									},
									"pDsTableName": {
										"value": "@pipeline().parameters.pTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_sql_adls",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupSQLServerControlTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupSQLServerControlTable').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copydata_sqlserver_landing",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().SrcSchemaName}.@{item().SrcTableName}"
										},
										{
											"name": "Destination",
											"value": "@{item().LandingContainerName}/@{concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))}/@{concat(item().SrcTableName, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@if(equals(item().IngestionType,'Incremental'),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName,\n           ' WHERE ',coalesce(item().WatermarkColName,''),\n           ' > ''',coalesce(string(item().WatermarkColValue),''),''''),\n    concat('SELECT * FROM ',item().SrcSchemaName,'.',item().SrcTableName))",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_SqlServerTablesParam",
											"type": "DatasetReference",
											"parameters": {
												"pDsServerName": {
													"value": "@item().SrcServerName",
													"type": "Expression"
												},
												"pDsDatabaseName": {
													"value": "@item().SrcDatabaseName",
													"type": "Expression"
												},
												"pDsSchemaName": {
													"value": "@item().SrcSchemaName",
													"type": "Expression"
												},
												"pDsTableName": {
													"value": "@item().SrcTableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_clinical_param",
											"type": "DatasetReference",
											"parameters": {
												"pDsContainerName": {
													"value": "@item().LandingContainerName",
													"type": "Expression"
												},
												"pDsFolderName": {
													"value": "@concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))",
													"type": "Expression"
												},
												"pDsFileName": {
													"value": "@concat(item().SrcTableName,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "LookupGetMaxMetaData",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Copydata_sqlserver_landing",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT MAX([', coalesce(item().WatermarkColName, 'MODIFIED_TS'), ']) AS NewWatermark FROM ', item().SrcSchemaName, '.', item().SrcTableName)\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_SqlServerTablesParam",
											"type": "DatasetReference",
											"parameters": {
												"pDsServerName": {
													"value": "@item().SrcServerName",
													"type": "Expression"
												},
												"pDsDatabaseName": {
													"value": "@item().SrcDatabaseName",
													"type": "Expression"
												},
												"pDsSchemaName": {
													"value": "@item().SrcSchemaName",
													"type": "Expression"
												},
												"pDsTableName": {
													"value": "@item().SrcTableName",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "Stored procedureUpdtMxModifiedDt",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "LookupGetMaxMetaData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[edcsrcmetadata].[usp_UpdateMxWatermark]",
										"storedProcedureParameters": {
											"MetadataId": {
												"value": {
													"value": "@item().MetadataId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"NewWatermarkValue": {
												"value": {
													"value": "@activity('LookupGetMaxMetaData').output.firstRow.NewWatermark",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sqlserver_param",
										"type": "LinkedServiceReference",
										"parameters": {
											"pLsServerName": {
												"value": "@item().SrcServerName",
												"type": "Expression"
											},
											"pLsDatabaseName": {
												"value": "@item().SrcDatabaseName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pServerName": {
						"type": "string",
						"defaultValue": "localhost\\SQLEXPRESS"
					},
					"pDatabasename": {
						"type": "string",
						"defaultValue": "dev_clintrail_edc_src"
					},
					"pSchemaName": {
						"type": "string",
						"defaultValue": "edcsrcmetadata"
					},
					"pTableName": {
						"type": "string",
						"defaultValue": "srcEdcClintrailToLandControl"
					}
				},
				"folder": {
					"name": "daily_practice/activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SqlServerTablesParam')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_clinical_param')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_param')]"
			]
		}
	]
}